.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__ok6Tx {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-gVevonc2ctq7So);
  display: flex;
  min-width: 0;
}
.freeBox__ok6Tx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ok6Tx > :global(.__wab_flex-container) > *,
.freeBox__ok6Tx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ok6Tx > :global(.__wab_flex-container) > picture > img,
.freeBox__ok6Tx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___8SNgI {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___8SNgI > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___8SNgI > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___8SNgI > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___8SNgI > :global(.__wab_flex-container) > *,
.columns___8SNgI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8SNgI > :global(.__wab_flex-container) > picture > img,
.columns___8SNgI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8SNgI {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8SNgI > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8SNgI > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8SNgI > :global(.__wab_flex-container) > *,
  .columns___8SNgI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___8SNgI > :global(.__wab_flex-container) > picture > img,
  .columns___8SNgI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__wZpN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wZpN {
    width: 100%;
  }
}
.freeBox__orUex {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__orUex > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__orUex > :global(.__wab_flex-container) > *,
.freeBox__orUex > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__orUex > :global(.__wab_flex-container) > picture > img,
.freeBox__orUex
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__orUex {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__orUex > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__zRrX8 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__jsTfG {
  position: relative;
  text-align: left;
}
.bullet__v6CFg:global(.__wab_instance) {
  position: relative;
}
.bullet___2ZFsk:global(.__wab_instance) {
  position: relative;
}
.bullet__nccS9:global(.__wab_instance) {
  position: relative;
}
.text__aoJcy {
  position: relative;
  text-align: left;
}
.freeBox___9BzGk {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___9BzGk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___9BzGk > :global(.__wab_flex-container) > *,
.freeBox___9BzGk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9BzGk > :global(.__wab_flex-container) > picture > img,
.freeBox___9BzGk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9BzGk {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9BzGk > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9BzGk > :global(.__wab_flex-container) > *,
  .freeBox___9BzGk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9BzGk > :global(.__wab_flex-container) > picture > img,
  .freeBox___9BzGk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___53Ipf:global(.__wab_instance) {
  position: relative;
}
.svg___4T1Mr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___6Bknv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ztBqh:global(.__wab_instance) {
  position: relative;
}
.svg__yMj5T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__w4Hj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__z0Cs2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__z0Cs2 {
    width: 100%;
  }
}
.img___1Xvg {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___1Xvg > picture > img {
  object-fit: cover;
}
.img___1Xvg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__urLuN {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__urLuN > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__urLuN > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__urLuN > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__urLuN > :global(.__wab_flex-container) > *,
.columns__urLuN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__urLuN > :global(.__wab_flex-container) > picture > img,
.columns__urLuN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__urLuN {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__urLuN > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__urLuN > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__urLuN > :global(.__wab_flex-container) > *,
  .columns__urLuN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__urLuN > :global(.__wab_flex-container) > picture > img,
  .columns__urLuN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__hQNz6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hQNz6 {
    width: 100%;
  }
}
.img__brEWn {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__brEWn > picture > img {
  object-fit: cover;
}
.img__brEWn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__kbe9U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kbe9U {
    width: 100%;
  }
}
.freeBox__uHtwp {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__uHtwp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__uHtwp > :global(.__wab_flex-container) > *,
.freeBox__uHtwp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uHtwp > :global(.__wab_flex-container) > picture > img,
.freeBox__uHtwp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uHtwp {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uHtwp > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__mDbz {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__fj6UJ {
  position: relative;
  text-align: left;
}
.bullet__xoehz:global(.__wab_instance) {
  position: relative;
}
.bullet__tGn0:global(.__wab_instance) {
  position: relative;
}
.bullet___3If7G:global(.__wab_instance) {
  position: relative;
}
.text__zmxl6 {
  position: relative;
  text-align: left;
}
.freeBox__zGnxt {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__zGnxt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zGnxt > :global(.__wab_flex-container) > *,
.freeBox__zGnxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zGnxt > :global(.__wab_flex-container) > picture > img,
.freeBox__zGnxt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zGnxt {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zGnxt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zGnxt > :global(.__wab_flex-container) > *,
  .freeBox__zGnxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zGnxt > :global(.__wab_flex-container) > picture > img,
  .freeBox__zGnxt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__lWsmH:global(.__wab_instance) {
  position: relative;
}
.svg__tlNyn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dWy90 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zUeFf:global(.__wab_instance) {
  position: relative;
}
.svg__dx4Yh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___0FVYu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
