.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___5VMaH {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-3MtNQoScEB5g_q);
}
.freeBox___4Cjsx {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-gVevonc2ctq7So);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___4Cjsx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___4Cjsx > :global(.__wab_flex-container) > *,
.freeBox___4Cjsx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Cjsx > :global(.__wab_flex-container) > picture > img,
.freeBox___4Cjsx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Cjsx {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Cjsx > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Cjsx > :global(.__wab_flex-container) > *,
  .freeBox___4Cjsx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4Cjsx > :global(.__wab_flex-container) > picture > img,
  .freeBox___4Cjsx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__nhGa8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__nhGa8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nhGa8 > :global(.__wab_flex-container) > *,
.freeBox__nhGa8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nhGa8 > :global(.__wab_flex-container) > picture > img,
.freeBox__nhGa8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__tenHr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__q3F2Y {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__fjHLt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__ze4Hv {
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__ze4Hv:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text___2EdaM {
  position: relative;
  font-size: 14px;
  color: var(--token-40XqkZefoF48pF);
}
.link__ezLrX {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__ezLrX:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__rDOv0 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__rDOv0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__rDOv0 > :global(.__wab_flex-container) > *,
.freeBox__rDOv0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rDOv0 > :global(.__wab_flex-container) > picture > img,
.freeBox__rDOv0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rDOv0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rDOv0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rDOv0 > :global(.__wab_flex-container) > *,
  .freeBox__rDOv0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rDOv0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__rDOv0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__qW0ZJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__qW0ZJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qW0ZJ > :global(.__wab_flex-container) > *,
.freeBox__qW0ZJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qW0ZJ > :global(.__wab_flex-container) > picture > img,
.freeBox__qW0ZJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__rW8O {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__ybcep {
  font-size: 14px;
  position: relative;
  color: var(--token-40XqkZefoF48pF);
}
.root .link__ybcep:hover {
  color: var(--token-NEon4Y--Z);
}
.link__iIWvm {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__iIWvm:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vyKqk {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__vyKqk:hover {
  color: var(--token-NEon4Y--Z);
}
.link__sey7K {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__sey7K:hover {
  color: var(--token-NEon4Y--Z);
}
.link___54O5L {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link___54O5L:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__oUIeH {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__oUIeH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oUIeH > :global(.__wab_flex-container) > *,
.freeBox__oUIeH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oUIeH > :global(.__wab_flex-container) > picture > img,
.freeBox__oUIeH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fafiS {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__qFDkE {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__qFDkE:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nPkjO {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__nPkjO:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jnqYi {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__jnqYi:hover {
  color: var(--token-NEon4Y--Z);
}
.link__bDgP {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__bDgP:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vw6DX {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__vw6DX:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox___8B5K7 {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___8B5K7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8B5K7 > :global(.__wab_flex-container) > *,
.freeBox___8B5K7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8B5K7 > :global(.__wab_flex-container) > picture > img,
.freeBox___8B5K7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___7Pd4A {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__pgbEp {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__pgbEp:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dKxP {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__dKxP:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kldRz {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__kldRz:hover {
  color: var(--token-NEon4Y--Z);
}
.link__um8Bh {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__um8Bh:hover {
  color: var(--token-NEon4Y--Z);
}
.link___0TjD3 {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link___0TjD3:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__mqDjq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__mqDjq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mqDjq > :global(.__wab_flex-container) > *,
.freeBox__mqDjq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqDjq > :global(.__wab_flex-container) > picture > img,
.freeBox__mqDjq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__lnaT5 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__i8Agd {
  position: relative;
  font-size: 14px;
  color: var(--token-40XqkZefoF48pF);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__l4AnQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__h22Sb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___9OTe1 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__zrDgy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__vmvKn {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-3MtNQoScEB5g_q);
}
.freeBox__zPm1H {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-gVevonc2ctq7So);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__zPm1H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zPm1H {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zPm1H > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zPm1H > :global(.__wab_flex-container) > *,
  .freeBox__zPm1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zPm1H > :global(.__wab_flex-container) > picture > img,
  .freeBox__zPm1H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__qd9Bo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__wc8X {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  height: auto;
  font-size: 14px;
}
.root .link__wc8X:hover {
  text-decoration-line: underline;
}
.link__lbtmV {
  position: relative;
  color: var(--token-40XqkZefoF48pF);
  font-size: 14px;
}
.root .link__lbtmV:hover {
  text-decoration-line: underline;
}
.text__lg4O0 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-40XqkZefoF48pF);
}
.freeBox__yYfjg {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__yYfjg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yYfjg > :global(.__wab_flex-container) > *,
.freeBox__yYfjg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yYfjg > :global(.__wab_flex-container) > picture > img,
.freeBox__yYfjg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__sVwFu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___5BbAi {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___5BbAi:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__qimse:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ir2Gb {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__ir2Gb:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__jisOd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8LvBq {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___8LvBq:hover {
  color: var(--token-dph1wZ7NjV9);
}
