.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__a534X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__tmSG {
  flex-direction: column;
  display: flex;
}
.freeBox__tmSG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tmSG > :global(.__wab_flex-container) > *,
.freeBox__tmSG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tmSG > :global(.__wab_flex-container) > picture > img,
.freeBox__tmSG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__zeTgu {
  font-size: 48px;
}
.freeBox__qvC0C {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__qvC0C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qvC0C > :global(.__wab_flex-container) > *,
.freeBox__qvC0C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qvC0C > :global(.__wab_flex-container) > picture > img,
.freeBox__qvC0C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__mdi8B:global(.__wab_instance) {
  position: relative;
}
.bullet__lo4Dh:global(.__wab_instance) {
  position: relative;
}
.bullet__kZsOc:global(.__wab_instance) {
  position: relative;
}
.freeBox__sSjyg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__or1Wv:global(.__wab_instance) {
  position: relative;
}
.svg__pahI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tupBc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pWb59 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
