.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
  display: none;
}
.topSection:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__kyDqM {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-gVevonc2ctq7So);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__kyDqM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kyDqM > :global(.__wab_flex-container) > *,
.freeBox__kyDqM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kyDqM > :global(.__wab_flex-container) > picture > img,
.freeBox__kyDqM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyDqM {
    width: 100%;
    height: auto;
    max-width: var(--token-gVevonc2ctq7So);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyDqM > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyDqM > :global(.__wab_flex-container) > *,
  .freeBox__kyDqM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kyDqM > :global(.__wab_flex-container) > picture > img,
  .freeBox__kyDqM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__s9HJ9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__s9HJ9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__s9HJ9 > :global(.__wab_flex-container) > *,
.freeBox__s9HJ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s9HJ9 > :global(.__wab_flex-container) > picture > img,
.freeBox__s9HJ9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s9HJ9 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s9HJ9 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s9HJ9 > :global(.__wab_flex-container) > *,
  .freeBox__s9HJ9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s9HJ9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__s9HJ9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__reWG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__lAy7L {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lAy7L {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__xXgGk {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xXgGk {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__jmDzC {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jmDzC {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__ky4V0 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ky4V0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__ky4V0 > :global(.__wab_flex-container) > *,
.freeBox__ky4V0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ky4V0 > :global(.__wab_flex-container) > picture > img,
.freeBox__ky4V0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__xxMSq:global(.__wab_instance) {
  position: relative;
}
.svg__uXC7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mlTfE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__iUauq:global(.__wab_instance) {
  position: relative;
}
.svg___4MaBd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hQys {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__dizp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__n0OIy {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__n0OIy > picture > img {
  object-fit: cover;
}
.img__n0OIy > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
  display: none;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column___2Y2CE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2Y2CE {
    width: 100%;
  }
}
.freeBox__dglFi {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__dglFi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__dglFi > :global(.__wab_flex-container) > *,
.freeBox__dglFi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dglFi > :global(.__wab_flex-container) > picture > img,
.freeBox__dglFi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dglFi {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dglFi > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__f4Oz5 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__reLfi {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__v46Bv:global(.__wab_instance) {
  position: relative;
}
.svg__poYfB {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__fjhUg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___3VDaB:global(.__wab_instance) {
  position: relative;
}
.svg__rwMjD {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__gj68Y {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__crTMm:global(.__wab_instance) {
  position: relative;
}
.svg__jOJfN {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___3ZcCj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__qEsPy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qEsPy {
    width: 100%;
  }
}
.img__m2ERd {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__m2ERd > picture > img {
  object-fit: cover;
}
.img__m2ERd > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__bcxAm {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__bcxAm > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__bcxAm > :global(.__wab_flex-container) > *,
.freeBox__bcxAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bcxAm > :global(.__wab_flex-container) > picture > img,
.freeBox__bcxAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__glpHh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rlCcn {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-yRqJOIPssuq00i);
}
.svg__b36Lu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__p3Bbw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vvrgj {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-yRqJOIPssuq00i);
}
.svg__hOxFt {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__iMkiY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yM3Wy {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-yRqJOIPssuq00i);
}
.svg__atAly {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___6Kzmg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tTcbc {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-yRqJOIPssuq00i);
}
.svg___0Mjpi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___5Uy8C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__oOgkG {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-yRqJOIPssuq00i);
}
.svg___7Pc6M {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kksFf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ckhZh {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-yRqJOIPssuq00i);
}
.svg__y6VEy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-3MtNQoScEB5g_q);
}
.validation:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__be4G8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__be4G8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__be4G8 > :global(.__wab_flex-container) > *,
.freeBox__be4G8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__be4G8 > :global(.__wab_flex-container) > picture > img,
.freeBox__be4G8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___20DyY {
  flex-direction: row;
  display: flex;
}
.freeBox___20DyY > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___20DyY > :global(.__wab_flex-container) > *,
.freeBox___20DyY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___20DyY > :global(.__wab_flex-container) > picture > img,
.freeBox___20DyY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__vwad6 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__mF4Qq {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__j2Xfr {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__dY780 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__muufk {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  display: none;
}
