.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: space-between;
  background: var(--token-dph1wZ7NjV9);
  min-width: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__m933O {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 60%;
  max-width: var(--token-gVevonc2ctq7So);
  padding: 64px 48px;
}
.freeBox__m933O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__m933O > :global(.__wab_flex-container) > *,
.freeBox__m933O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m933O > :global(.__wab_flex-container) > picture > img,
.freeBox__m933O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m933O {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m933O > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__gqxGi {
  position: relative;
  color: var(--token-yRqJOIPssuq00i);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.text__kFeth {
  position: relative;
  color: var(--token-TRf5pfsHwLE);
  padding-bottom: 0px;
}
.freeBox___4WCnz {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___4WCnz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___4WCnz > :global(.__wab_flex-container) > *,
.freeBox___4WCnz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4WCnz > :global(.__wab_flex-container) > picture > img,
.freeBox___4WCnz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4WCnz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4WCnz > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4WCnz > :global(.__wab_flex-container) > *,
  .freeBox___4WCnz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4WCnz > :global(.__wab_flex-container) > picture > img,
  .freeBox___4WCnz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__iahpk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nBKn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__a59Tc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zysvC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__srQjf {
  position: relative;
  color: var(--token-vaTuh5tFL3B);
  font-size: 14px;
}
.freeBox__ahfGh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 40%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ahfGh {
    display: none;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
